/*
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 80px;
    width: auto;
    justify-content: space-evenly;

    .card {
        width: 800rem;
        .club_logo {
            margin-right: 10rem;
            height: 4rem;
        }
    }
}
    */
.container {
    gap: 40px;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden !important;;
}

.container .card {
    width: 20rem !important;
    /* border: 2px solid red; */
}

/* .container .card .face {
    width: 300px;
} */

/* @media (max-width: 768px) {} */


@media (max-width: 420px) {
    .container {
        justify-content: center !important;
        align-content: center !important;
    }

    /* .C-sub-text {
        width: auto !important;
        transform: scaleX(1.2) !important;
        height: 20px !important;
        left: 2% !important;
        top: 30% !important;
    } */
}